* {
  box-sizing: border-box;
}

.row > .column {
  padding: 0 8px;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.column__gallery {
  width: 12%;
  margin-top: 20px;
  display: inline-block;
  margin-left: 2%;
}

.column {
    width: 12%;
    margin-top: 20px;
    float: left;
    margin-left: 8%;
}

/* The Modal (background) */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  #background-color: black;
  background-color: #000000c2;
  z-index: 20;
}

/* Modal Content */
.modal-content {
  position: relative;
  background-color: #fefefe;
  margin: auto;
  padding: 0;
  width: 90%;
  max-width: 700px;
}

/* The Close Button */
.close {
  color: white;
  position: absolute;
  top: 10px;
  right: 25px;
  font-size: 35px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #999;
  text-decoration: none;
  cursor: pointer;
}

.mySlides {
  display: none;
}

.cursor {
  cursor: pointer;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  transition: 0.6s ease;
  border-radius: 3px 0px 0px 3px;
  user-select: none;
  -webkit-user-select: none;
}

.prev{ right: 700px;}

/* Position the "next button" to the right */
.next {
  right: -45px;
  border-radius: 0px 3px 3px 0px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Number text (1/3 etc) */
.numbertext {
  #color: #f2f2f2;
  color: black;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

.column__gallery img {
  margin-bottom: -4px;
  opacity: 1;
}

.caption-container {
  text-align: center;
  background-color: black;
  padding: 2px 16px;
  color: white;
}

.demo {
  opacity: 0.6;
}

.active,
.demo:hover {
  opacity: 1;
}

.column__gallery img.hover-shadow {
  transition: 0.3s;
}

.hover-shadow:hover {
  #box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  opacity: 0.3;
}

#row_gallery{
	margin-bottom: 40px !important;
	text-align: center;

}

.link_Gallery{
	#cursor: pointer;
	cursor: zoom-in;
	color: #B73E01;
}

.title__procesoparticipativo_table tr th{
    border-bottom: 3px solid #ff9260 !important;
}

.content__procesoparticipativo_table tr td{
	border: 1px solid #ffd3a7 !important;
	border-right: none !important;
	border-left: none !important;
}

.highlight__in__progress{
       background: #e48724;
    text-align: left;
    font-size: .90rem;
    border-left-width: 5px;
    border-left-color: #e48724;
    border-left-style: solid;
    color: #563800;
    border-radius: 4px;
    padding: 0.5em .4em .3em;
}

.highlight_done{
    background: #98c379;
    text-align: left;
    font-size: .90rem;
    border-left-width: 5px;
    border-left-color: #98c379;
    border-left-style: solid;
    color: #276518;
    border-radius: 4px;
    padding: 0.5em .4em .3em;
}

.icon-download{
	    height: 15px !important;
}